<div class="banner">
  <div class="container">
    <h1 class="banner__heading">{{ heading }}</h1>

    <time class="post__date post__date--banner" datetime="{{ page.date | postDate }}">
      <span class="icon icon-clock"></span> {{ page.date | postDate }}
    </time>
  </div>
</div>
