<meta name="description" content="{{ description or meta.title }}">
<link rel="canonical" href="{{ site.url }}{{ page.url }}">
<link rel="manifest" href="{{ site.url }}/manifest.webmanifest">
<link rel="icon" href="{{ site.url }}/favicon.ico">
<link rel="icon" href="{{ site.url }}{% image 'icons/icon.svg' %}">
<link rel="apple-touch-icon" href="{{ site.url }}{% image 'icons/apple-touch-icon.png' %}">
<link rel="alternate" href="{{ site.url }}/feed.xml" type="application/atom+xml" title="{{ meta.title }}">
<link rel="alternate" href="{{ site.url }}/feed.json" type="application/json" title="{{ meta.title }}">
{% if metatag and metatag.robots %}
<meta name="robots" content="{{ metatag.robots }}">
{% endif %}
<meta name="theme-color" content="{{ meta.manifest.color }}">
