root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
line_length = 80
indent_size = 2
indent_style = space

[*.{js,yaml,yml}]
indent_style = space
indent_size = 2

[*.{html,njk}]
indent_style = space
indent_size = 2

[*.md]
indent_size = 4
indent_style = space
