PORT=4321
BASE_URL=http://localhost:4321/
APP_SERVICE_URL=http://localhost:8080/
APP_SEARCH_URL=http://localhost:7700/
PRISMIC_REPOSITORY=
PRISMIC_ACCESS_TOKEN=

VITE_MODE=development
VITE_APP_SERVICE_URL=http://localhost:8080/
VITE_MEILISEARCH_URL=
VITE_MEILISEARCH_SEARCH_KEY=
VITE_MEILISEARCH_MASTER_KEY=
VITE_MEILISEARCH_INDEX=
