{
  "env": {
    "browser": true
  },
  "extends": [
    "standard",
    "plugin:yml/standard"
  ],
  "globals": {
    "it": "readonly",
    "describe": "readonly"
  },
  "rules": {
    "yml/key-spacing": "off"
  }
}
