*~
.vscode
.astro
/node_modules/
/backup/
/.env
/logs/
/test-results
/dist/
/public/badges/
/.docker/*
!/.docker/
!/.docker/.env.local
!/.docker/httpd/
!/.docker/cloudflare/
/.docker/cloudflare/**/*.env
/.docker/cloudflare/src/.wrangler/
