html {
    height: 100%;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0eff7;
    margin: 0;
    min-height: 100%;
    font-family: sans-serif;
    font-weight: 300;
}

h1 {
    color: #f36035;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-weight: 300;
}

a {
    color: #f36035;
}

p {
    margin-bottom: 0;
}

.container {
    width: 75%;
    text-align: center;
    color: #2a3a47;
    padding: .5rem;
}
