---
import { __ } from '@i18n/utils';
import { env } from '@src/env.config';

const buildDate: string = new Date().toJSON().slice(0, 10).split('-').reverse().join('-');
const buildTime: string = new Date().toISOString();
---

<x-build-status class="build-status">
	<p>
		<small>{__('component.build')}: <time datetime={buildTime}>{buildDate}</time></small>
	</p>
	<div class="flex gap-xs">
		<a href="https://github.com/gibbs/gibbs.github.io/actions/workflows/test.yml">
			<img
				src={new URL('/badges/test-status.svg', env.BASE_URL).href}
				alt="Tests status badge"
				height="26"
				width="117"
				loading="lazy"
			/>
		</a>
		<a href="https://github.com/gibbs/gibbs.github.io/actions/workflows/deploy.yml">
			<img
				src={new URL('/badges/deploy-status.svg', env.BASE_URL).href}
				alt="Deploy status badge"
				height="26"
				width="135"
				loading="lazy"
			/>
		</a>
	</div>
</x-build-status>
