---
const { props } = Astro.props;
const datePublished = props?.linkdata?.datePublished || null;
const dateUpdated = props?.linkdata?.dateModified || null;
---

{
	(datePublished || dateUpdated) && (
		<aside class="publish-dates">
			{datePublished && (
				<time class="date-published" datetime={new Date(datePublished).toISOString()}>
					<p class="has-icon">
						<span class="gg-calendar" /> {new Date(datePublished).toLocaleDateString('en-GB')}
					</p>
				</time>
			)}

			{dateUpdated && datePublished !== dateUpdated && (
				<time class="date-modified" datetime={new Date(dateUpdated).toISOString()}>
					<p class="has-icon">
						<span class="gg-time" />
						Last updated: {new Date(dateUpdated).toLocaleDateString('en-GB')}
					</p>
				</time>
			)}
		</aside>
	)
}

<style>
	.publish-dates {
		display: flex;
		flex-direction: column;
		gap: var(--gap-xxs);
		align-items: center;
		font-size: small;

		p {
			margin: 0;
		}
	}

	@media (--vp-sm) {
		.publish-dates {
			gap: var(--gap);
			flex-direction: row;
		}
	}
</style>
