<button
	type="button"
	class="scheme-preference"
	:class="{ 'active': active == true }"
	id="scheme-preference"
	title="Toggle colour scheme"
	aria-label="Toggle colour scheme"
	:aria-label="buttonLabel"
	aria-pressed="false"
	:aria-pressed="ariaPressed"
	x-data="schemePreference"
	x-init="init()"
	@click="changeScheme"
>
	<svg
		x-show="isDark"
		width="24px"
		height="24px"
		viewBox="0 0 24 24"
		xmlns="http://www.w3.org/2000/svg"
		aria-hidden="true"
	>
		<path
			d="M12 2.25a.75.75 0 01.75.75v2.25a.75.75 0 01-1.5 0V3a.75.75 0 01.75-.75zM7.5 12a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM18.894 6.166a.75.75 0 00-1.06-1.06l-1.591 1.59a.75.75 0 101.06 1.061l1.591-1.59zM21.75 12a.75.75 0 01-.75.75h-2.25a.75.75 0 010-1.5H21a.75.75 0 01.75.75zM17.834 18.894a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 10-1.061 1.06l1.59 1.591zM12 18a.75.75 0 01.75.75V21a.75.75 0 01-1.5 0v-2.25A.75.75 0 0112 18zM7.106 17.834a.75.75 0 00-1.06-1.06l-1.591 1.59a.75.75 0 101.06 1.061l1.591-1.59zM6 12a.75.75 0 01-.75.75H3a.75.75 0 010-1.5h2.25A.75.75 0 016 12zM6.166 7.106a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 10-1.061 1.06l1.59 1.591z"
		></path>
	</svg>

	<svg
		x-show="!isDark"
		width="24px"
		height="24px"
		viewBox="0 0 24 24"
		xmlns="http://www.w3.org/2000/svg"
		aria-hidden="true"
	>
		<path
			d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 008.998-5.998z"
		></path>
	</svg>

	<span class="sr-only" x-text="buttonLabel"></span>
</button>

<script is:inline>
	document.addEventListener('alpine:init', () => {
		Alpine.data('schemePreference', () => {
			return {
				key: 'sp',
				scheme: 'dark',
				active: false,

				init() {
					this.scheme = this.getCustomPreference();
					this.active = true;
					document.documentElement.style.setProperty('color-scheme', this.scheme);
				},

				get isDark() {
					return this.scheme === 'dark';
				},

				get buttonLabel() {
					return `Switch to ${this.isDark ? 'light' : 'dark'} colour scheme`;
				},

				get ariaPressed() {
					return this.isDark ? 'true' : 'false';
				},

				changeScheme() {
					const preference = this.getToggledPreference();

					this.scheme = preference;
					localStorage.setItem(this.key, preference);
					document.documentElement.setAttribute('data-color-scheme', preference);
					document.documentElement.style.setProperty('color-scheme', preference);
				},

				getToggledPreference() {
					return this.scheme == 'light' ? 'dark' : 'light';
				},

				getCustomPreference() {
					const stored = localStorage.getItem(this.key);

					if (['light', 'dark'].includes(stored)) {
						return stored;
					}

					return this.getSystemPreference();
				},

				getSystemPreference() {
					return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
				},
			};
		});
	});
</script>

<style>
	.scheme-preference {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		align-self: center;
		background: none;
		border: none;
		padding: 0;
		border-radius: 50%;
		cursor: pointer;
		opacity: 0;
		appearance: none;
		transition: opacity ease-in var(--transition-duration);
		width: 24px;
		height: 24px;

		& > svg {
			color: var(--white);
			fill: currentColor;
			width: 24px;
			height: 24px;
			stroke-linecap: round;
		}

		&:focus-visible {
			outline: 3px solid var(--tertiary);
			outline-offset: 4px;
		}
	}

	.scheme-preference.active {
		opacity: 1;
	}
</style>
