---
import type { BadgesSliceDefaultPrimaryBadgeItem } from '@src/prismicio-types';

const props = Astro.props;
---

<ul class="badges">
	{
		props.primary.badge.map((badge: BadgesSliceDefaultPrimaryBadgeItem) => (
			<li>
				<a href={badge.url.url}>
					<img src={badge.src.url} alt={badge.url.text} height="28" loading="lazy" />
				</a>
			</li>
		))
	}
</ul>

<style>
	.badges {
		display: flex;
		flex-direction: column;
		gap: var(--gap-xs);
		list-style-type: none;
		margin: var(--gap) 0;
		padding: 0;
		font-size: 0;

		img {
			margin: 0;
		}
	}

	@media (--vp-sm) {
		.badges {
			flex-direction: row;
			align-items: center;
			gap: var(--gap-xs);
		}
	}
</style>
