/*
 * Git Timeline
 */
.timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc(var(--gap) * 2) 0 calc(var(--gap) * 2) 0;
  width: 100%;
}

.timeline__activity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
}

.timeline__group {
  position: relative;
  display: block;
  margin: calc(var(--gap) * 2) 0 0 0;
  width: 100%;
}

.timeline__group:nth-child(1n) {
  margin: 0;
}

.timeline__date {
  display: block;
  padding: calc(var(--gap) * .75);
  background-color: var(--secondary-color);
  color: var(--dark-link-text-color);
  font-size: smaller;
  border-radius: 0 5px 0 5px;
  text-align: center;
  font-weight: 500;
}

.timeline__entries {
  list-style-type: none;
  margin: 0;
  padding: var(--gap);
}

.timeline__entry {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  border: 3px solid var(--mask-dark);
  border-width: 0 0 2px 10px;
  border-bottom-style: dashed;
  margin: 0;
}

.timeline__entry:last-of-type {
  margin: 0;
}

.timeline__information {
  flex: 3;
  padding: calc(var(--gap) * .75);
}

.timeline__repository {
  flex: 2;
  text-align: left;
  padding: calc(var(--gap) * .5) 0;
}

.timeline__entry-heading {
  font-size: smaller;
  margin: 0;
}

.timeline__authored {
  font-size: smaller;
  margin: 0;
  color: var(--text-color-light);
  padding: 0 calc(var(--gap) * .75);
}

.timeline__actions {
  display: flex;
}

.timeline__hash-button {
  font-size: smaller;
  text-align: center;
  min-width: 105px;
  padding: calc(var(--gap) * .25);
  margin: 0 calc(var(--gap) * .75);
}

@media (--breakpoint-md) {
  .timeline__date {
    display: inline-block;
    text-align: left;
  }

  .timeline__information {
    flex: 5;
  }

  .timeline__entry {
    flex: 5;
  }

  .timeline__entry {
    align-items: center;
    flex-direction: row;
  }

  .timeline__repository {
    align-items: center;
    flex: 1;
    padding: 0 calc(var(--gap) * .75);
  }

  .timeline__authored {
    align-items: center;
  }

  .timeline__actions {
    align-items: center;
  }

  .timeline__hash-button {
    border-radius: 3px;
  }
}
