<!DOCTYPE html>
<html lang="{{ meta.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or meta.title }}</title>
    {% include "meta.njk" %}
    {% if jsonld %}
    <script type="application/ld+json">
      {% block json_ld %}{{ jsonld | toJSONLD | safe }}{% endblock %}
    </script>
    {% endif %}
    <style>{% css %}</style>
    <noscript><style>.js-required{display:none}.navigation{flex-direction:row-reverse}@media (min-width:768px){.navigation{flex-direction:row}}</style></noscript>
    <script>document.documentElement.setAttribute('data-dark-mode', JSON.parse(window.sessionStorage.getItem('theme')) ?? false)</script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K3R0CR8HLY"></script>
  </head>

  <body class="layout-{{ layout|default('base') }}">
    {% block header %}
    <header id="header" class="header">
      <div class="container">
        <nav id="navigation" class="navigation">
          <span class="navigation__theme-preference icon icon-brightness-contrast js-required" id="change_theme_preference" title="Change colour preference"></span>
          <input class="navigation__menu" type="checkbox" id="navigation_menu">

          <label class="navigation__toggle" for="navigation_menu">
            <span class="icon-hamburger"><span></span></span>
          </label>
          {% include "navigation.njk" %}
        </nav>
      </div>
    </header>
    {% endblock %}

    {% block banner %}{% endblock %}

    <main id="content" class="content">
      {% block content %}
      <div class="container">
        <div class="row">
          {{ content | safe }}
        </div>
      </div>
      {% endblock %}
    </main>

    {% block footer %}
      {% include "footer.njk" %}
    {% endblock %}

    <script src="{{ site.url }}{% manifest 'main.js' %}" integrity="{% sri 'main.js', true %}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
