<!DOCTYPE html>
<html lang="{{ meta.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or meta.title }}</title>
    {% include "meta.njk" %}
    {% if jsonld %}
    <script type="application/ld+json">
      {% block json_ld %}{{ jsonld | toJSONLD | safe }}{% endblock %}
    </script>
    {% endif %}
  </head>

  <body>
    <header>
      {% include "navigation.njk" %}
    </header>

    {% block content %}
      {{ content | safe }}
    {% endblock %}

    <footer>
      {% include "footer.njk" %}
    </footer>
  </body>
</html>
