{% extends "../_layouts/base.njk" %}

{% block json_ld %}{{ jsonld | toJSONLDBlog | safe }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      {{ content | safe }}

      <ol class="blog blog--rows">
        {%- for post in collections.blog | reverse | limit(999, 0) -%}
          <li class="blog--item">
            <div>
              <h3 class="blog__heading">
                <a href="{{ site.url }}/blog/{{ post.data.uri }}/">{{ post.data.anchor }}</a>
              </h3>

              <div class="blog__data">
                <span class="blog__tag">
                  {{ post.data.tags | primaryTag }}
                </span>

                <time class="blog__date" datetime="{{ post.date | postDate }}">
                  &mdash; {{ post.date | postDate }}
                </time>
              </div>

              <div class="blog__summary">
                <p class="blog__summary__paragraph">{{ post.data.summary }}</p>
              </div>
            </div>
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>
{% endblock %}
