{% extends "../_layouts/base.njk" %}

{% block json_ld %}{{ jsonld | toJSONLDBlog | safe }}{% endblock %}

{% block content %}
  <div class="home-hero">
    <div class="container">
      <div class="hero">
        {{ content | safe }}
      </div>
    </div>

    {#<video autoplay muted loop class="intro__video">
      <source src="{{ site.url }}/assets/videos/intro.mp4" type="video/mp4">
    </video>#}
  </div>

  <div class="home-posts">
    <div class="container">
      <div class="home-posts__container">
        <div>
          <h3 class="home-posts__heading">Latest Posts</h3>
        </div>

        <div>
          {%- for post in collections.blog | reverse | limit(limit|default(3)) -%}
          <h4 class="home-posts__heading home-posts__heading--small">
            <a href="{{ site.url }}/blog/{{ post.data.uri }}/">{{ post.data.anchor }}</a>
          </h4>

          <div class="blog__data">
            <span class="blog__tag">{{ post.data.tags | primaryTag }}</span>

            <time class="blog__date" datetime="{{ post.date | postDate }}">
              &mdash; {{ post.date | postDate }}
            </time>
          </div>

          <p class="home-posts__summary">{{ post.data.summary }}</p>
        {%- endfor -%}
        </div>
      </div>
    </div>
  </div>

  <div class="home-insights js-required" id="insights">
    <div class="container">
      <div class="loading">
        <div class="loading--bars"><div></div><div></div><div></div></div>
      </div>
    </div>
  </div>

  <template id="hompage_insights">
    <div class="row js-required homepage--insights">
      <div class="container">

        <div class="insights">
          <div class="insights__data">
            <div class="insights__chart">
              <h3 class="insights__chart-heading">Language Usage</h3>
              <canvas id="insights_workload" width="552" height="500" aria-label="Languages by Usage" role="img"></canvas>
            </div>

            <div class="insights__chart">
              <h3 class="insights__chart-heading">Language Popularity</h3>
              <canvas id="insights_popularity" width="552" height="500" aria-label="Languages by Popularity" role="img"></canvas>
            </div>
          </div>

          <p><small>Data sourced from public repositories</small></p>

          <ul class="insights__languages" id="insights_languages"></ul>
        </div>

      </div>
    </div>

    <div class="row js-required">
      <div class="container">
        <div class="timeline">
          <h3 class="timeline__heading">Activity</h3>
          <div class="timeline__activity">
            <a href="https://github.com/gibbs?tab=overview" class="button">
              View on GitHub
            </a>
          </div>
        </div>
      </div>
    </div>
  </template>

  {#<div class="row">
    <div class="container">
      {% include "projects.njk" %}
    </div>
  </div>#}
{% endblock %}

{% block scripts %}
  <script>{% asset 'homepage.js' %}</script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
