{% extends "../_layouts/base.njk" %}

{% block json_ld %}{{ jsonld | toJSONLDBlog | safe }}{% endblock %}

{% set previous = collections.blog | getPreviousCollectionItem(page) %}
{% set next = collections.blog | getNextCollectionItem(page) %}

{% if image %}
  {% block banner %}
    {% include "banner.njk" %}
  {% endblock %}
{% endif %}


{% block content %}
  <div class="container">
    <article class="row post">
      {% if archived %}
      <div class="alert alert--warning">
        {% if archived != true %}
          {{ archived }}
        {% else %}
          This post has been <em>archived</em> and may contain out of date, or no longer
          relevant, information.
        {% endif %}
      </div>
      {% endif %}

      <div class="post__content">
        {{ content | safe }}
      </div>
    </article>
  </div>

  <div class="post-more">
    <div class="container">
      <nav class="post-more__nav">
        {% if previous %}
        <a href="{{ previous.url }}" class="post-more__anchor">
          <span class="post-more__icon post-more__icon--previous">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20 11v2H8l5.5 5.5-1.42 1.42L4.16 12l7.92-7.92L13.5 5.5 8 11h12Z"></path></svg>
          </span>
          <span class="post-more__content post-more__content--previous">
            <span class="post-more__title post-more__title--previous">Previous</span>
            <span class="post-more__text post-more__text--previous">{{ previous.data.anchor }}</span>
          </span>
        </a>
        {% endif %}
        {% if next %}
        <a href="{{ next.url }}" class="post-more__anchor">
          <span class="post-more__content post-more__content--next">
            <span class="post-more__title post-more__title--next">Next</span>
            <span class="post-more__text post-more__text--next">{{ next.data.anchor }}</span>
          </span>
          <span class="post-more__icon post-more__icon--next">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M4 11v2h12l-5.5 5.5 1.42 1.42L19.84 12l-7.92-7.92L10.5 5.5 16 11H4Z"></path></svg>
          </span>
        </a>
        {% endif %}
      </nav>
    </div>
  </div>
{% endblock %}
