{% extends "../_layouts/base.njk" %}

{% block json_ld %}{{ jsonld | toJSONLDBlog | safe }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      {{ content | safe }}

      {% set limit = collections.projects.length %}
      {% include "projects.njk" %}
    </div>
  </div>
{% endblock %}
