{% extends "../_layouts/base.njk" %}

{% block json_ld %}{{ jsonld | toJSONLDBlog | safe }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      {{ content | safe }}

      <div class="projects">
        {%- for project in collections.projects | reverse -%}
          <div class="project">
            <div class="project__showcase">
              <div class="project__tag">
                {{ project.data.tags | primaryTag }}
              </div>

              <div class="project__image">
                <a aria-hidden="true" href="{{ site.url }}/projects/{{ project.data.uri }}/" class="project__anchor">
                  {% responsiveImage
                    project.data.image.src | default('images/projects/placeholder.png'),
                    project.data.image.caption | default(project.data.title),
                    {
                      maxWidth: 514,
                      widths: [[309, 360], [363, 414], [540, 768], [352, 992], [370, 1200], [442, 1400], 514]
                    }
                  %}
                </a>
              </div>
            </div>

            <div class="project__body">
              <h3 class="project__heading">
                <a href="{{ site.url }}/projects/{{ project.data.uri }}/" class="project-rows__anchor">{{ project.data.anchor }}</a>
              </h3>

              <time class="project__date" datetime="{{ project.date | postDate }}">
                {{ project.date | postDate }}
              </time>

              <div class="project__description">
                <p>{{ project.data.summary }}</p>
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
{% endblock %}
