{% extends "../_layouts/base.njk" %}

{% block json_ld %}{{ jsonld | toJSONLDBlog | safe }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      {{ content | safe }}

      <div class="tool-{{ uri }} js-required">{% block tool %}{% endblock %}</div>

      <noscript>
        <div class="alert alert--warning">Javascript is required to use this tool. See <a href="https://www.enable-javascript.com/">How to enable JavaScript in your browser</a>.</div>
      </noscript>
    </div>
  </div>
{% endblock %}

