.main pre button.rehype-pretty-copy {
	border: var(--border-width) solid var(--border-color);
	width: 34px;
	height: 34px;
	margin-top: 0;
	padding: 4px;

	& .ready {
		fill: orange;
		stroke: orange;
		color: red;
	}
}

.gg-calendar,
.gg-calendar::before {
  display: block;
  box-sizing: border-box;
}

.gg-calendar {
  position: relative;
  transform: scale(var(--ggs, 1));
  width: 18px;
  height: 18px;
  border: 2px solid;
  border-top: 4px solid;
  border-radius: 3px;
}

.gg-calendar::before {
  content: "";
  position: absolute;
  width: 10px;
  border-radius: 3px;
  left: 2px;
  background: currentcolor;
  height: 2px;
  top: 2px;
}

.gg-check-o {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 100px;
}

.gg-check-o::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 3px;
  top: -1px;
  width: 6px;
  height: 10px;
  border-color: currentcolor;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform-origin: bottom left;
  transform: rotate(45deg);
}

.gg-danger {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-radius: 40px;
}

.gg-danger::after,
.gg-danger::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  background: currentcolor;
  left: 7px;
}

.gg-danger::after {
  top: 2px;
  height: 8px;
}

.gg-danger::before {
  height: 2px;
  bottom: 2px;
}

.gg-info {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-radius: 40px;
}

.gg-info::after,
.gg-info::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  background: currentcolor;
  left: 7px;
}

.gg-info::after {
  bottom: 2px;
  height: 8px;
}

.gg-info::before {
  height: 2px;
  top: 2px;
}

.gg-mail,
.gg-mail::after {
  display: block;
  box-sizing: border-box;
  height: 14px;
  border: 2px solid;
}

.gg-mail {
  overflow: hidden;
  transform: scale(var(--ggs, 1));
  position: relative;
  width: 18px;
  border-radius: 2px;
}

.gg-mail::after {
  content: "";
  position: absolute;
  border-radius: 3px;
  width: 14px;
  transform: rotate(-45deg);
  bottom: 3px;
  left: 0;
}

.gg-time {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px currentcolor;
}

.gg-time::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 7px;
  height: 7px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  top: 1px;
  left: 5px;
}

.gg-pin {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: rotate(45deg) scale(var(--ggs, 1));
  width: 18px;
  height: 18px;
  border-radius: 100% 100% 0 100%;
  border: 2px solid;
  margin-top: -4px;
}

.gg-pin::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid;
  top: 3px;
  left: 3px;
  border-radius: 40px;
}

.gg-git-pull {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 2px;
  height: 14px;
  background: currentColor;
}
.gg-git-pull::after,
.gg-git-pull::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}
.gg-git-pull::before {
  border-right: 2px solid;
  border-top: 2px solid;
  border-top-right-radius: 4px;
  width: 8px;
  height: 6px;
  left: 0;
  top: 2px;
}
.gg-git-pull::after {
  width: 4px;
  height: 4px;
  background: currentColor;
  box-shadow:
    0 12px 0 0,
    6px 8px 0 0;
  border-radius: 100%;
  left: -1px;
  top: -1px;
}

.gg-git-commit {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 2px;
  height: 16px;
  border-radius: 3px;
  border-top: 6px solid;
  border-bottom: 6px solid;
}
.gg-git-commit::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 2px;
  height: 2px;
  box-shadow: 0 0 0 2px;
  border-radius: 100%;
  left: 0;
  top: 1px;
}

