h1 {
  color: var(--primary-color);
  font-size: calc(var(--font-size-base) * 3);
  font-weight: 600;
}

h2 {
  color: var(--heading-color);
  font-weight: 500;
  margin-bottom: 0;
  font-size: calc(var(--font-size-base) * 2);
}

h3 {
  color: var(--heading-color);
  font-weight: 500;
  margin-bottom: 0;
  font-size: calc(var(--font-size-base) * 1.5);
}

h4, h5, h6 {
  color: var(--heading-color);
  font-weight: 400;
  margin-bottom: 0;
}


h4 {
  font-size: calc(var(--font-size-base) * 1.5);
}

h5 {
  font-size: calc(var(--font-size-base) * 1.25);
}

h6 {
  font-size: var(--font-size-base);
}

a {
  color: var(--link-text-color);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--link-text-hover-color);
}

p > code {
  color: var(--code-text-color);
  padding: calc(var(--spacer) * .25);
  background-color: var(--code-bg);
}

blockquote {
  background-color: var(--blockquote-bg-color);
  padding: calc(var(--spacer) * .5);
  border-left: 5px solid var(--border-color);
}
