/*
 * Primary colours:
 * #E21A23 (red)
 * #34344A (dark purple)
 * #F9F8F8 (white)
 * #595FD9 (blue)
 * #A663CC (pinkish?)
 */

:root, :root[data-dark-mode="false"] {
  // Main Colours
  --body-bg: #F9F8F8;
  --primary-color: #E21A23; // BCFC
  --secondary-color: #34344A;
  --tertiary-color: #595FD9;
  --quaternary-color: #A663CC;
  --secondary-color-text: #8DA7BE;
  --link-text-color: #595FD9;
  --link-text-hover-color: #E21A23;
  --dark-link-text-color: var(--white-color);
  --dark-link-text-hover-color: var(--secondary-color-text);
  --border-color: #e2dddd;
  --black-color: #444;
  --white-color: #fff;
  --shadow-color: #efefef;
  --mask-dark: rgba(0, 0, 0, .1);
  --mask-light: rgba(255, 255, 255, .1);

  // Alert Colours
  --alert-info-bg: #cfe2ff;
  --alert-info-color: #084298;
  --alert-info-border: #b6d4fe;
  --alert-warning-bg: #fff3cd;
  --alert-warning-color: #664d03;
  --alert-warning-border: #ffecb5;
  --alert-danger-bg: #f8d7da;
  --alert-danger-color: #842029;
  --alert-danger-border: #f5c2c7;
  --alert-success-bg: #d1e7dd;
  --alert-success-color: #0f5132;
  --alert-success-border: #badbcc;

  // Sections
  --header-bg: #fff;
  --footer-bg: var(--secondary-color);
  --copyright-bg: #29293b;
  --copyright-text-color: var(--white-color);

  // Animations
  --transition-speed: 0.1s;

  // Typography
  --font-size-base: 1.15rem;
  --font-size-scale: 2;
  --line-height: 1.5rem;
  --text-color: #444;
  --text-color-light: #666;
  --heading-color: var(--secondary-color);
  --hero-title-color: var(--tertiary-color);
  --hero-subtitle-color: var(--secondary-color);
  --code-bg: var(--mask-dark);
  --code-text-color: var(--primary-color);

  // Grid
  --spacer: 1rem;
  --gutter-width: 1.5rem;

  // Elements
  --blockquote-bg-color: var(--white-color);
  --card-bg-color: var(--white-color);
  --table-border-color: var(--border-color);
  --table-heading-bg-color: var(--white-color);
  --table-row-bg-color: var(--body-bg);
  --table-row-bg-alt-color: var(--mask-dark);

  // Cookie Consent
  --cc-bg: var(--body-bg);
  --cc-text: var(--text-color);
  --cc-btn-primary-bg: var(--link-text-color);
  --cc-btn-primary-text: var(--body-bg);
  --cc-btn-primary-hover-bg: var(--link-text-hover-color);
  --cc-btn-secondary-bg: var(--mask-dark);
  --cc-btn-secondary-text: var(--cc-text);
  --cc-btn-secondary-hover-bg: var(--mask-dark);
  --cc-toggle-bg-off: var(--black-color);
  --cc-toggle-bg-on: var(--cc-btn-primary-bg);
  --cc-toggle-bg-readonly: var(--mask-dark);
  --cc-toggle-knob-bg: #fff;
  --cc-toggle-knob-icon-color: #ecf2fa;
  --cc-block-text: var(--cc-text);
  --cc-cookie-category-block-bg: var(--mask-dark);
  --cc-cookie-category-block-bg-hover: var(--mask-dark);
  --cc-section-border: var(--table-border-color);
  --cc-cookie-table-border: var(--table-border-color);
  --cc-overlay-bg: rgba(4, 6, 8, .85);
  --cc-webkit-scrollbar-bg: #cfd5db;
  --cc-webkit-scrollbar-bg-hover: #9199a0;
}

// Dark mode colours
:root[data-dark-mode="true"] {
  // Main Colours
  --body-bg: #1c1c1c;
  --primary-color: #e9454d; // BCFC
  --secondary-color: #34344A;
  --tertiary-color: #595FD9;
  --quaternary-color: #A663CC;
  --secondary-color-text: #8DA7BE;
  --link-text-color: #7087D4;
  --link-text-hover-color: #e9454d;
  --dark-link-text-color: var(--text-color);
  --dark-link-text-hover-color: #fff;
  --border-color: #1d2222;
  --black-color: #bbb;
  --white-color: #000;
  --shadow-color: #101010;
  --mask-dark: rgba(255, 255, 255, .1);
  --mask-light: rgba(0, 0, 0, .1);

  // Sections
  --header-bg: #34344A;
  --footer-bg: var(--secondary-color);
  --copyright-bg: #29293b;
  --copyright-text-color: #999;
 
  // Typography
  --text-color: #ddd;
  --text-color-light: #999;
  --heading-color: #f1f1f1;
  --hero-title-color: var(--link-text-color);
  --hero-subtitle-color: #8DA7BE;
  --code-bg: var(--mask-dark);
  --code-text-color: #fff;

  // Elements
  --blockquote-bg-color: var(--mask-dark);
  --card-bg-color: #1a2129;
  --table-border-color: var(--border-color);
  --table-heading-bg-color: #2f2f2f;
  --table-row-bg-color: var(--mask-light);
  --table-row-bg-alt-color: var(--mask-dark);

  // Cookie Consent
  --cc-bg: var(--body-bg);
  --cc-text: var(--text-color);
  --cc-btn-primary-bg: var(--link-text-color);
  --cc-btn-primary-text: var(--body-bg);
  --cc-btn-primary-hover-bg: var(--link-text-hover-color);
  --cc-btn-secondary-bg: var(--mask-dark);
  --cc-btn-secondary-text: var(--cc-text);
  --cc-btn-secondary-hover-bg: var(--mask-dark);
  --cc-toggle-bg-off: var(--black-color);
  --cc-toggle-bg-on: var(--cc-btn-primary-bg);
  --cc-toggle-bg-readonly: var(--mask-dark);
  --cc-toggle-knob-bg: var(--cc-cookie-category-block-bg);
  --cc-toggle-knob-icon-color: var(--cc-bg);
  --cc-block-text: var(--cc-text);
  --cc-cookie-category-block-bg: var(--mask-dark);
  --cc-cookie-category-block-bg-hover: var(--mask-dark);
  --cc-section-border: var(--table-border-color);
  --cc-cookie-table-border: var(--table-border-color);
  --cc-webkit-scrollbar-bg: #667481;
  --cc-webkit-scrollbar-bg-hover: #9199a0;
}

// Containers and breakpoints
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);
