---
import { __ } from '@i18n/utils';
import { getPageByUID } from '@src/prismic';
import { generateFrontmatter } from '@utils/frontmatter';
import BaseLayout from '@layouts/Base.astro';
import { env } from '@src/env.config';
import TechStack from '@components/Block/TechStack.astro';
import GithubActivityFeed from '@components/Block/GithubActivityFeed.astro';
import Time from '@components/Block/Time.astro';
import '@styles/icons.css';

const page = await getPageByUID('index', 'page');
const frontmatter = generateFrontmatter(page, 'Website');
---

<BaseLayout frontmatter={frontmatter} url={Astro.url}>
	<section class="hero">
		<h1>{__('component.hero.title')}</h1>
		<h2>{__('component.hero.subtitle')}</h2>
		<span class="hero-location">
			<span class="gg-pin"></span>
			<span>{__('component.hero.location')}</span>
			<span class="gg-time"></span>
			<Time interval={1000} format={'TIME_24_WITH_SHORT_OFFSET'} timezone={'Europe/London'} />
		</span>
	</section>

	<div class="container container-feed">
		<GithubActivityFeed />
	</div>

	<div class="container">
		<TechStack />
	</div>

	<script define:vars={{ BASE_URL: env.BASE_URL }}>
		document.addEventListener('DOMContentLoaded', () => {
			try {
				const worker = new Worker(new URL('service-worker.js?v=2.01', BASE_URL));

				worker.postMessage({ type: 'getActivityFeed' });

				worker.onmessage = (e) => {
					if (typeof e.data === 'object' && e.data.type === 'insights' && e.data?.detail) {
						if (e.data.detail.activity) {
							document.dispatchEvent(
								new CustomEvent('x-activity-timeline', {
									detail: e.data.detail.activity,
								}),
							);
						}

						if (e.data.detail.insights) {
							document.dispatchEvent(
								new CustomEvent('x-insights', {
									detail: e.data.detail.insights,
								}),
							);
						}
					}
				};

				worker.onerror = (error) => {
					console.error('Service Worker error:', error.message);
					document.dispatchEvent(
						new CustomEvent('x-activity-timeline', {
							detail: { groups: [] },
						}),
					);
				};
			} catch (err) {
				console.error('Failed to initialise service worker: ', err);
			}
		});
	</script>
</BaseLayout>

<style is:global>
	.main {
		padding: 0;
	}

	.header {
		color-scheme: dark;
	}

	.header::before {
		background-color: oklch(0% 0 0 / 0.45);
	}

	.header::after {
		background: none;
	}

	.hero {
		color-scheme: dark;
		min-height: 100svh;
		align-content: center;
		padding: var(--gap);
		width: 100%;
		justify-content: center;
		text-align: center;
		overflow: hidden;

		h1 {
			font-size: 5.5rem;
			letter-spacing: -0.5rem;
			font-weight: 500;
			color: white;
			margin: 0;
			text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
			text-align: center;
			word-break: unset;
			min-width: 100%;
			animation: slideinT ease-in-out 1s;
		}

		h2 {
			font-weight: 400;
			margin: 1.5rem 0;
			text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
			color: #fff;
			overflow: hidden;
			word-break: unset;
			min-width: 100%;
		}

		[class^='gg-']:not(:first-of-type) {
			margin-left: var(--gap-xs);
		}
	}

	.hero::before {
		content: '';
		color-scheme: dark;
		background-color: var(--bg);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	.hero::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background: linear-gradient(-135deg, var(--primary-dark), var(--accent), var(--primary-light));
		background-size: 350% 350%;
		animation: header-gradient 30s ease infinite;
		animation-duration: 15s;
		opacity: 0.5;
	}

	.hero-location {
		display: flex;
		flex-direction: row;
		color: var(--text);
		gap: var(--gap-xs);
		align-items: center;
		margin: 0.5rem 0;
		font-size: small;
		justify-content: center;
		text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	}

	.container-feed {
		position: relative;
		padding-bottom: 0;
	}

	@keyframes slideinT {
		0% {
			opacity: 0.25;
			transform: scaleY(0.85) scaleX(0.85);
		}
		100% {
			opacity: 1;
			transform: scaleY(1) scaleX(1);
		}
	}
</style>
