/*
 * Container
 */
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: calc(var(--gutter) * .75);
  padding-left: calc(var(--gutter) * .75);
}

@media (--breakpoint-sm) {
  .container {
    max-width: 540px;
  }
}

@media (--breakpoint-md) {
  .container {
    max-width: 720px;
  }
}

@media (--breakpoint-lg) {
  .container {
    max-width: 960px;
  }
}

@media (--breakpoint-xl) {
  .container {
    max-width: 1140px;
  }
}

@media (--breakpoint-xxl) {
  .container {
    max-width: 1320px;
  }
}

/*
 * Alerts
 */
.alert {
  position: relative;
  display: block;
  max-width: 100%;
  padding: var(--gutter);
  border: 1px solid;
  margin: 0 0 var(--gap) 0;
}

.alert > p:first-of-type {
  margin-top: 0;
}

.alert > p:last-of-type {
  margin-bottom: 0;
}

.alert--danger {
  background-color: var(--alert-danger-bg);
  color: var(--alert-danger-color);
  border-color: var(--alert-danger-border);
}

.alert--info {
  background-color: var(--alert-info-bg);
  color: var(--alert-info-color);
  border-color: var(--alert-info-border);
}

.alert--warning {
  background-color: var(--alert-warning-bg);
  color: var(--alert-warning-color);
  border-color: var(--alert-warning-border);
}

.alert--success {
  background-color: var(--alert-success-bg);
  color: var(--alert-success-color);
  border-color: var(--alert-success-border);
}

/*
 * Banners
 */
.banner {
  position: relative;
}

.banner__heading {
  text-align: center;
}

.banner__badges {
  display: flex;
  gap: calc(var(--gap) * .25);
  list-style-type: none;
  margin: calc(var(--gap) * .5) 0;
  padding: 0;
  justify-content: center;
  min-height: 20px;
}

.banner__badge-item {
  margin: 0;
}

.banner__badge-anchor {
  display: block;
  line-height: 0;
}

/*
 * Code Tabs
 */
.code-tabs {
  display: grid;
  grid-template-columns: 1fr;
  margin: var(--gap) 0;
  box-shadow: 5px 5px 5px var(--shadow-color);
}

.code-tabs pre,
.code-tabs input {
  display: none;
}

.code-tabs input:checked + pre {
  display: block;
  margin: 0;
  border-radius: 0;
  max-height: 80vh;
}

.code-tabs label {
  color: var(--text-color);
  font-weight: 500;
}

.code-tabs input:checked + label {
  color: var(--primary-color);
}

.code-tabs ul {
  display: flex;
  flex-direction: row;
  font-size: 0;
  padding: 0;
  white-space: nowrap;
  overflow: auto;
  user-select: none;
  background-color: var(--header-bg);
}

.code-tabs li {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
}

.code-tabs label {
  cursor: pointer;
  user-select: none;
  display: inline-block;
  font-size: smaller;
  padding: calc(var(--gap) * .75) calc(var(--gap) * 1.5);
}

.code-tabs li ~ li::before {
  content: "";
  height: 12px;
  width: 1px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*
 * Hero
 */
.hero {
  padding: calc(var(--gap) * 6) 0 calc(var(--gap) * 6) 0;
  margin: 0;
}

.hero__title {
  margin: calc(var(--gap) * .5) 0 calc(var(--gap) * .5) 0;
  font-size: calc(var(--font-size) * 3.25);
  font-weight: 600;
}

.hero__subtitle {
  margin: calc(var(--gap) * .25) 0 0 0;
  color: var(--hero-subtitle-color);
  font-weight: 300;
}

.hero__text {
  margin: 0;
  color: var(--text-color-light);
}

/*
 * Other
 */
.cookie-preferences {
  color: var(--secondary-color-text);
}

.anchor-up {
  font-size: 4rem;
  color: var(--secondary-color-text);
}

.anchor-up:hover {
  color: var(--dark-link-text-hover-color);
}

@media (--breakpoint-md) {
  .banner__heading {
    text-align: left;
  }

  .banner__badges {
    justify-content: flex-start;
  }
}

@media (--breakpoint-lg) {
  .code-tabs {
    grid-template-columns: 1fr 4fr;
  }

  .code-tabs ul {
    flex-direction: column;
  }

  .code-tabs label {
    width: 100%;
  }

  .code-tabs input:checked + label {
    border-left: 4px solid var(--primary-color);
    padding: calc(var(--gap) * 0.75) calc(var(--gap) * 1.5) calc(var(--gap) * 0.75) calc(var(--gap) * 1.5 - 4px);
  }
}
