img {
  max-width: 100%;
  height: auto;
  //content-visibility: auto;
}

.fallback--img {
  background-size: cover;
  background-image: none;
}

.table {
  display: block;
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  border: 1px solid var(--table-border-color);
}

th {
  background-color: var(--table-heading-bg-color);
  padding: calc(var(--spacer) * .75);
  text-align: left;
}

td {
  padding: calc(var(--spacer) * .75);
}

tbody tr {
  background-color: var(--table-row-bg-color);
  border-bottom: 1px solid var(--table-border-color);
}

tbody tr:nth-child(2n) {
  background-color: var(--table-row-bg-alt-color);
}

.alert {
  position: relative;
  display: block;
  max-width: 100%;
  padding: var(--gutter-width);
  border: 1px solid;

  &--danger {
    background-color: var(--alert-danger-bg);
    color: var(--alert-danger-color);
    border-color: var(--alert-danger-border);
  }

  &--info {
    background-color: var(--alert-info-bg);
    color: var(--alert-info-color);
    border-color: var(--alert-info-border);
  }

  &--warning {
    background-color: var(--alert-warning-bg);
    color: var(--alert-warning-color);
    border-color: var(--alert-warning-border);
  }

  &--success {
    background-color: var(--alert-success-bg);
    color: var(--alert-success-color);
    border-color: var(--alert-success-border);
  }
}

.anchor__up {
  font-size: 4rem;
  color: var(--secondary-color-text);
}

.anchor__up:hover {
  color: var(--dark-link-text-hover-color);
}

.cookie__preferences {
  color: var(--secondary-color-text);
}

.button {
  position: relative;
  display: inline-block;
  padding: calc(var(--spacer) * 0.75);
  background-color: var(--link-text-color);
  color: var(--body-bg);
  border-radius: 2px;
  font-weight: 500;
  overflow: hidden;
  border: 0;
  border-radius: 4px;
  transition:
    background calc(var(--transition-speed) * 2) ease,
    opacity linear var(--transition-speed);

  &::before {
    position: absolute;
    left: -.75rem;
    font-size: 6rem;
    opacity: .25;
  }

  &:not([disabled]):focus,
  &:not([disabled]):hover {
    color: var(--white-color);
    background-color: var(--link-text-hover-color);
  }

  &--docker {
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #1e7dc5;
    border: 2px solid #1e7dc5;
    color: #fff;
  }

  &--docker:focus,
  &--docker:hover {
    background-color: #2496ed;
    color: #fff;
  }

  &--docker::before {
    content: "\e906";
    font-family: 'icomoon' !important;
  }

  &--github {
    padding-left: 2rem;
    padding-right: 2rem;
    background: #ddd;
    border: 2px solid #bbb;
    color: #333;
  }

  &--github:focus,
  &--github:hover {
    background: #fff;
    color: #333;
  }

  &--github::before {
    content: "\e902";
    font-family: 'icomoon' !important;
  }

  &--primary {
    background-color: var(--primary-color);
  }

  &--secondary {
    color: #efefef;
    background-color: var(--secondary-color);
  }

  &--secondary:not([disabled]):hover {
    background-color: var(--secondary-color-text);
  }

  &--secondary:not([disabled]):focus {
    color: #efefef;
    background-color: var(--secondary-color);
  }

  &--tertiary {
    background-color: var(--tertiary-color);
  }
}

.button:is([disabled]) {
  opacity: 0.5;
}

.button--form {
  padding: calc(var(--spacer) * 0.6) calc(var(--spacer) * 0.75);
  font-weight: 400;
  font-size: smaller;
}

.timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc(var(--spacer) * 2) 0 calc(var(--spacer) * 2) 0;
  width: 100%;

  &__activity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 var(--spacer) 0 0;
    width: 100%;
  }

  &__group {
    position: relative;
    display: block;
    margin: calc(var(--spacer) * 2) 0 0 0;
    border-left: 2px solid var(--secondary-color);
    width: 100%;
  }

  &__group:nth-child(1n) {
    margin: 0;
  }

  &__date {
    display: block;
    padding: calc(var(--spacer) * .75);
    background-color: var(--secondary-color);
    color: var(--dark-link-text-color);
    font-size: smaller;
    margin: 0 calc(var(--spacer) * -1.5) 0 calc(var(--spacer) * -1);
    text-align: center;
    font-weight: 500;
  }

  &__entries {
    list-style-type: none;
    margin: 0;
    padding: var(--spacer);
  }

  &__entry {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    border: 1px solid var(--mask-dark);
    border-radius: 5px;
    align-items: center;
    margin: 0 0 calc(var(--spacer) * .5) 0;
  }

  &__entry:last-of-type {
    margin: 0;
  }

  &__information {
    flex: 3;
    padding: calc(var(--spacer) * .75);
  }

  &__repository {
    flex: 2;
    text-align: left;
    padding: calc(var(--spacer) * .5) 0;
    align-self: center;
  }

  &__entry-heading {
    font-size: smaller;
    margin: 0;
  }

  &__authored {
    font-size: smaller;
    margin: 0;
    color: var(--text-color-light);
  }

  &__actions {
    display: flex;
    align-self: center;
  }

  &__hash-button {
    font-size: smaller;
    border-radius: 5px 5px 0 0;
    text-align: center;
    min-width: 105px;
  }
}

.homepage--blog {
  padding: calc(var(--gutter-width) * 2) 0 calc(var(--gutter-width) * 2) 0;
  background-color: var(--header-bg);
  background-image: url(../images/blueprint-dark.png);

  &__heading {
    margin: 0;
    font-weight: 500;
  }

  &__summary__paragraph {
    margin-top: calc(var(--gutter-width) * .5);
    margin-bottom: var(--gutter-width);
  }
}

.homepage--blog__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gutter-width);
}

.insights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc(var(--gutter-width)) 0 calc(var(--gutter-width)) 0;
  width: 100%;

  &__data {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
    overflow: hidden;
    gap: var(--spacer);
  }

  &__chart {
    text-align: center;
    max-width: 100%;
  }

  &__chart-heading {
    margin: var(--spacer) 0 calc(var(--spacer) * 2) 0;
  }

  &__languages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 0 0;
    padding: 0;
    list-style-type: none;
  }

  &--language {
    border: 1px solid #ff9900;
    border-radius: 4px;
  }
}

.result {
  margin-top: var(--gutter-width);
}

@media (min-width: map-get($breakpoints, 'md')) {
  .timeline__date {
    display: inline-block;
    margin: 0 0 0 calc(var(--spacer) * -1);
    border-radius: 5px;
  }

  .timeline__information {
    flex: 5;
  }

  .timeline__entry {
    flex-direction: row;
  }

  .timeline__repository {
    flex: 1;
    padding: 0 calc(var(--spacer) * .75);
  }

  .timeline__hash-button {
    border-radius: 0;
  }
}

.code-tabs {
  display: grid;
  grid-template-columns: 1fr;
  margin: var(--spacer) 0;
  box-shadow: 5px 5px 5px var(--shadow-color);

  pre, input {
    display: none;
  }

  input:checked + pre {
    display: block;
    margin: 0;
    border-radius: 0;
  }

  label {
    color: var(--text-color);
    font-weight: 500;
  }

  input:checked + label {
    color: var(--primary-color);
  }

  ul {
    display: flex;
    flex-direction: row;
    font-size: 0;
    padding: 0;
    white-space: nowrap;
    overflow: auto;
    user-select: none;
    background-color: var(--header-bg);
  }

  li {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
  }

  label {
    cursor: pointer;
    user-select: none;
    display: inline-block;
    font-size: smaller;
    padding: calc(var(--spacer) * .75) calc(var(--spacer) * 1.5);
  }

  li ~ li::before {
    content: "";
    height: 12px;
    width: 1px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: map-get($breakpoints, 'lg')) {
  .homepage--blog__container {
    grid-template-columns: 1fr 2fr;
  }

  .insights__data {
    grid-template-columns: 46% 54%;
  }

  .code-tabs {
    grid-template-columns: 1fr 4fr;

    ul {
      flex-direction: column;
    }

    label {
      width: 100%;
    }

    input:checked + label {
      border-left: 4px solid var(--primary-color);
      padding: calc(var(--spacer) * 0.75) calc(var(--spacer) * 1.5) calc(var(--spacer) * 0.75) calc(var(--spacer) * 1.5 - 4px);
    }
  }
}

