.hidden {
  display: none;
}

.img-fallback {
  background-size: cover;
  background-image: none;
}

.row {
  width: 100%;
}

/* @fixme - Hacks to save time*/
.row--block > * {
  display: block;
  width: 100%;
}

.row--block > .form-label {
  margin: 0;
}
