/* code: 767113 */

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?#767113');
  src:  url('../fonts/icomoon.eot?#767113#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?#767113') format('truetype'),
    url('../fonts/icomoon.woff?#767113') format('woff'),
    url('../fonts/icomoon.svg?#767113#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-javascript:before {
  content: "\e907";
}
.icon-docker:before {
  content: "\e906";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-linkedin:before {
  content: "\e900";
}
.icon-linkedin-block:before {
  content: "\e901";
}
.icon-github:before {
  content: "\e902";
}
.icon-feed-block:before {
  content: "\e903";
}
.icon-rss-block:before {
  content: "\e903";
}
.icon-feed:before {
  content: "\e904";
}
.icon-rss:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\e905";
}
.icon-brightness-contrast:before {
  content: "\e9d6";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-clock-inverse:before {
  content: "\e94f";
}
.icon-calendar:before {
  content: "\e953";
}

.icon-hamburger {
  position: absolute;
  display: block;
  left: 12px;
  top: 22px;
  width: 24px;
  height: 34px;
}

.icon-hamburger > span,
.icon-hamburger > span::before,
.icon-hamburger > span::after {
  content: '';
  border-radius: 1px;
  height: 3px;
  width: 24px;
  background: var(--navigation-toggle-color);
  position: absolute;
  display: block;
}

.icon-hamburger > span:before {
  top: -10px;
}

.icon-hamburger > span:after {
  bottom: -10px; 
}

.gravatar {
  border-radius: 100%;
  border: 1px solid var(--secondary-color-text);
  padding: 1px;
  background-color: transparent;
}

.gravatar--small {
  border: 2px solid var(--secondary-color-text);
}
