.layout__home .content {
  padding: 0;
}

.homepage--intro {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: calc(var(--spacer) * 2);
  padding-bottom: calc(var(--spacer) * 2);
}

.hero {
  padding: calc(var(--spacer) * 6) 0 calc(var(--spacer) * 6) 0;
  margin: 0 0 var(--spacer) 0;

  &--title {
    margin: var(--spacer) 0 0 0;
    font-weight: 600;
  }

  &--subtitle {
    margin: calc(var(--spacer) * .5) 0 0 0;
    color: var(--hero-subtitle-color);
    font-weight: 300;
  }

  &--text {
    margin: 0;
    color: var(--text-color-light);
  }
}

.intro__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
  object-fit: cover;
}

.project-list {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  gap: var(--spacer);
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: var(--spacer);
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    box-shadow: 5px 5px 5px var(--shadow-color);
    background-color: var(--card-bg-color);
    margin: calc(var(--spacer) * .5) 0 calc(var(--spacer) * .5) 0;
  }

  &__heading {
    margin: 0;
    padding: 0;
  }

  &__description {
    flex-grow: 1;
  }
}

.project-rows {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  gap: calc(var(--spacer) * 2);
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__row {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    gap: var(--spacer);
  }

  &__anchor {
    position: relative;
    display: inline-block;
  }

  &__showcase {
    position: relative;
  }

  &__tag {
    position: absolute;
    font-size: calc(var(--paragraph-font-size) * .8);
    top: calc(var(--gutter-width-half) * -.5);
    left: calc(var(--gutter-width-half) * -.5);
    display: inline-flex;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: var(--gutter-width-half);
    font-weight: 500;
    z-index: 1;
  }

  &__heading {
    margin: 0;
  }

  &__description {
    p {
      font-size: calc(var(--paragraph-font-size) * .9);
    }
  }

  &__date {
    font-size: smaller;
    color: var(--text-color-light);
  }

  &__image {
    position: relative;
  }
}

.blog {
  &__post {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    margin: 0;
  }

  &__tag {
    text-transform: capitalize;
    color: var(--primary-color);
    font-size: smaller;
  }

  &__date {
    color: var(--text-color-light);
    font-size: smaller;
  }
}

.blog--latest {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacer);
  margin-bottom: var(--spacer);
}

.blog--rows {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.blog--columns {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacer);
  margin-top: var(--gutter-width);
}

.blog--item {
  margin: var(--gutter-width) 0 0 0;
}

.blog__summary__paragraph {
  margin: var(--spacer) 0 0 0;
}

.post {
  &__date {
    color: var(--text-color-light);
    font-size: smaller;
    display: inline-flex;
    align-items: center;

    .icon {
      padding-right: 5px;
    }
  }
}

@media (min-width: map-get($breakpoints, 'sm')) {
  .project-list {
    grid-template-columns: 1fr 1fr;
  }

  .blog--columns {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: map-get($breakpoints, 'md')) {
  .project-rows__row {
    grid-template-columns: 1fr 1fr;
  }

  .blog--latest {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: map-get($breakpoints, 'lg')) {
  .project-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .project-rows__row {
    grid-template-columns: 2fr 3fr;
    gap: calc(var(--gutter-width) * 1.5);
  }

  .blog--latest {
    grid-template-columns: 540px auto;
  }
}
