h1 {
  color: var(--primary-color);
  font-size: calc(var(--font-size-base) * 2.75);
  font-weight: 600;
  letter-spacing: -.15rem;
  margin: var(--gutter-width) 0;
}

h2 {
  color: var(--heading-color);
  font-weight: 500;
  margin: calc(var(--gutter-width) * 2) 0 0 0;
  font-size: calc(var(--font-size-base) * 2);
  letter-spacing: -.045rem;
  line-height: 4rem;
}

h3 {
  color: var(--heading-color);
  font-weight: 500;
  font-size: calc(var(--font-size-base) * 1.75);
  margin: var(--gutter-width) 0 0 0;
  letter-spacing: -.035rem;
  line-height: 2.9rem;
}

h4, h5, h6 {
  color: var(--heading-color);
  font-weight: 400;
  margin-bottom: 0;
  margin: calc(var(--gutter-width) * 1.25) 0 var(--gutter-width) 0;
}

h4 {
  font-size: calc(var(--font-size-base) * 2);
}

h5 {
  font-size: calc(var(--font-size-base) * 1.75);
}

h6 {
  font-size: var(--font-size-base);
  font-size: calc(var(--font-size-base) * 1.25);
}

p {
  line-height: var(--paragraph-line-height);
  font-size: var(--paragraph-font-size);
  margin: var(--gutter-width) 0;
}

a {
  color: var(--link-text-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-text-hover-color);
}

*:not(pre) > code {
  color: var(--code-text-color);
  padding: calc(var(--spacer) * .25);
  background-color: var(--code-bg);
}

mark {
  color: var(--mark-text-color);
  padding: calc(var(--spacer) * .25);
  background-color: var(--mark-bg);
  border-radius: 5px;
  font-size: calc(var(--paragraph-font-size) * 0.9);
  border: 1px solid var(--mark-border-color);
}

blockquote {
  background-color: var(--blockquote-bg-color);
  padding: calc(var(--spacer) * .5) var(--spacer);
  border-left: 5px solid var(--border-color);
  margin: var(--spacer) calc((var(--spacer) * 2) - 5px);
}

li {
  margin: calc(var(--spacer) * .5) 0 calc(var(--spacer) * .5) 0;
  line-height: var(--paragraph-line-height);
  font-size: var(--paragraph-font-size);
}
