.text-center {
  text-align: center;
}

.text-upper {
  text-transform: uppercase;
}

.text-lower {
  text-transform: lowercase;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.hidden {
  display: none;
}

.visible {
  display: inherit;
}

.token.header {
  border-top: inherit;
  border-image: inherit;
  background-color: inherit;
  padding: inherit;
  z-index: inherit;
  box-shadow: inherit;
}
