:root, :root[data-dark-mode="false"] {
  --body-bg: #F9F8F8;

  /* Main colour palette */
  --primary-color: #E21A23; /* BCFC */
  --secondary-color: #34344A;
  --tertiary-color: #595FD9;
  --quaternary-color: #8137ab;

  --secondary-color-text: #A0BDD8;
  --link-text-color: #595FD9;
  --link-text-hover-color: #E21A23;
  --dark-link-text-color: var(--white-color);
  --dark-link-text-hover-color: #F2BBD6; /* #76E5FC; */
  --border-color: #e2dddd;
  --black-color: #444;
  --white-color: #fff;
  --shadow-color: #efefef;
  --mask-dark: rgba(0, 0, 0, .1);
  --mask-light: rgba(255, 255, 255, .1);

  /* Layout */
  --header-bg: #fff;
  --footer-bg: var(--secondary-color);
  --copyright-bg: #242433;
  --copyright-text-color: var(--white-color);

  /* Grid and spacing */
  --gap: 1rem;
  --gutter: 1.5rem;

  /* Typography */
  --font-size: 1.2rem;
  --font-line-height: 1.58rem;
  --text-color: #444;
  --text-color-light: #666;
  --heading-color: var(--secondary-color);
  --hero-title-color: var(--tertiary-color);
  --hero-subtitle-color: var(--secondary-color);
  --code-bg: var(--mask-dark);
  --code-text-color: var(--primary-color);
  --mark-bg: #fffdd0;
  --mark-border-color: #fff516;
  --mark-text-color: black;

  /* Animations */
  --transition-speed: 0.06s;

  /* Elements */
  --blockquote-bg-color: var(--white-color);
  --table-border-color: var(--border-color);
  --table-heading-bg-color: var(--white-color);
  --table-row-bg-color: var(--body-bg);
  --table-row-bg-alt-color: var(--mask-dark);
  --form-box-shadow-color: rgba(35, 37, 85, 0.25);

  /* Components */
  --alert-info-bg: #cfe2ff;
  --alert-info-color: #084298;
  --alert-info-border: #b6d4fe;
  --alert-warning-bg: #fff3cd;
  --alert-warning-color: #664d03;
  --alert-warning-border: #ffecb5;
  --alert-danger-bg: #f8d7da;
  --alert-danger-color: #842029;
  --alert-danger-border: #f5c2c7;
  --alert-success-bg: #d1e7dd;
  --alert-success-color: #0f5132;
  --alert-success-border: #badbcc;

  --toggle-inactive: #d6cfcf;
  --toggle-active: #34344A;

  --navigation-toggle-color: var(--body-bg);
  --card-bg-color: var(--white-color);

  /* Cookie consent */
  --cc-bg: var(--body-bg);
  --cc-text: var(--text-color);
  --cc-btn-primary-bg: var(--link-text-color);
  --cc-btn-primary-text: var(--body-bg);
  --cc-btn-primary-hover-bg: var(--link-text-hover-color);
  --cc-btn-secondary-bg: var(--mask-dark);
  --cc-btn-secondary-text: #111;
  --cc-btn-secondary-hover-bg: var(--mask-dark);
  --cc-toggle-bg-off: var(--black-color);
  --cc-toggle-bg-on: var(--cc-btn-primary-bg);
  --cc-toggle-bg-readonly: var(--mask-dark);
  --cc-toggle-knob-bg: #fff;
  --cc-toggle-knob-icon-color: #ecf2fa;
  --cc-block-text: var(--cc-text);
  --cc-cookie-category-block-bg: var(--mask-dark);
  --cc-cookie-category-block-bg-hover: var(--mask-dark);
  --cc-section-border: var(--table-border-color);
  --cc-cookie-table-border: var(--table-border-color);
  --cc-overlay-bg: rgba(4, 6, 8, .85);
  --cc-webkit-scrollbar-bg: #cfd5db;
  --cc-webkit-scrollbar-bg-hover: #9199a0;
}

/* Dark mode */
:root[data-dark-mode="true"] {
  --body-bg: #1C1C1C;

  /* Main colour palette */
  --primary-color: #FFC168;

  --secondary-color-text: #A0BDD8;
  --link-text-color: #B1CBD9;
  --link-text-hover-color: #FFC168;
  --dark-link-text-color: var(--text-color);
  --dark-link-text-hover-color: #FFC168;
  --border-color: #1d2222;
  --black-color: #bbb;
  --white-color: #000;
  --shadow-color: #101010;
  --mask-dark: rgba(255, 255, 255, .1);
  --mask-light: rgba(0, 0, 0, .1);

  /* Layout */
  --header-bg: #34344A;
  --footer-bg: var(--secondary-color);
  --copyright-bg: #242433;
  --copyright-text-color: #C4C4C4;

  /* Typography */
  --text-color: #ccc;
  --text-color-light: #CDCDCD;
  --heading-color: #f1f1f1;
  --hero-title-color: var(--link-text-color);
  --hero-subtitle-color: #8DA7BE;
  --code-bg: var(--mask-dark);
  --code-text-color: #fff;
  --mark-bg: #8DA7BE;
  --mark-border-color: #3c5469;
  --mark-text-color: black;

  /* Elements */
  --table-border-color: var(--border-color);
  --table-heading-bg-color: #2f2f2f;
  --table-row-bg-color: var(--mask-light);
  --table-row-bg-alt-color: var(--mask-dark);
  --form-box-shadow-color: rgba(213, 214, 245, .25);

  /* Components */
  --toggle-inactive: #3e3e3e;
  --toggle-active: var(--text-color);
  --card-bg-color: #1a2129;
  --navigation-toggle-color: var(--black-color);

  /* Cookie consent */
  --cc-btn-secondary-text: #eee;
  --cc-text: #eee;
  --cc-toggle-knob-bg: var(--cc-cookie-category-block-bg);
  --cc-toggle-knob-icon-color: var(--cc-bg);
  --cc-webkit-scrollbar-bg: #667481;
}

@custom-media --breakpoint-sm (min-width: 576px);
@custom-media --breakpoint-md (min-width: 768px);
@custom-media --breakpoint-lg (min-width: 992px);
@custom-media --breakpoint-xl (min-width: 1200px);
@custom-media --breakpoint-xxl (min-width: 1400px);
