---
permalink: manifest.webmanifest
eleventyExcludeFromCollections: true
---
{
  "name": "Dan Gibbs",
  "icons": [
    {
      "src": "{% rawImage './src/assets/icons/icon-192.png', 'icon-192' %}",
      "type": "image/png",
      "sizes": "192x192"
    },
    {
      "src": "{% rawImage './src/assets/icons/icon-512.png', 'icon-512' %}",
      "type": "image/png",
      "sizes": "512x512"
    }
  ]
}
