{% extends "../../_layouts/tool.njk" %}

{% block tool %}
  <form method="post" id="dig_form">
    <section class="fieldset tool--dig">
      <div class="row">
        <label for="input" class="form-label">Name</label>
        <input type="text" id="name" name="name" placeholder="e.g. google.com" class="form-control" value="" minlength="1" maxlength="256" required>
      </div>

      <div class="row">
        <label for="nameserver" class="form-label">Nameserver</label>
        <select class="form-control" id="nameserver" name="nameserver">
          <option value="cloudflare">Cloudflare</option>
          <option value="google" selected>Google</option>
          <option value="quad9">Quad9</option>
          <option value="opendns">OpenDNS</option>
          <option value="comodo">Comodo</option>
        </select>
      </div>

      <div class="row">
        {% for type in ['a', 'aaaa', 'any', 'caa', 'cname', 'dnskey', 'ds', 'mx', 'ns', 'ptr', 'soa', 'srv', 'tlsa', 'tsig', 'txt'] %}
        <input type="checkbox" name="types[]" value="{{ type }}" class="button--check" id="type_{{ type }}" {% if loop.first %} checked{% endif %}>
        <label class="button button--toggle button--form" for="type_{{ type }}">{{ type|upper }}</label>
        {% endfor %}
      </div>
    </section>

    <div class="row">
      <button type="submit" id="mkpasswd_generate" class="button">Lookup</button>
    </div>
  </form>

  <template id="dig_records">
    <div class="table">
      <table id="dig_table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">TTL</th>
            <th scope="col">Type</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

    <pre class="language-bash"><code class="language-bash" id="dig_command"></code></pre>
  </template>

  <div id="dig_result" class="result"></div>
{% endblock %}

{% block scripts %}
<script>
{% asset 'tools.js' %}
document.addEventListener('DOMContentLoaded', () => { tools.dig() })
</script>
{% endblock %}

