{% extends "../../_layouts/tool.njk" %}


{% block tool %}
  <form method="post" class="tool-{{ uri }}__form" id="mkpasswd_generator">
    <div class="row">
      <label for="input" class="form-label">Input</label>
      <input type="text" id="input" name="input" class="form-control" value="" pattern="([A-z0-9À-ž\s]){1,}" required>
      <span class="form-helper form-helper--active all">An alphanumeric input string (the password)</span>
    </div>

    <div class="row">
      <label for="method" class="form-label">Method</label>

      <select class="form-select" aria-label="Computational type" name="method" id="method" required>
        <option value="scrypt" selected>scrypt</option>
        <option value="sha512crypt">SHA512-crypt</option>
        <option value="sha256crypt">SHA256-crypt</option>
        <option value="md5crypt">MD5-crypt</option>
      </select>
    </div>

    <div class="row">
      <label for="salt" class="form-label">Salt</label>
      <input type="text" id="salt" name="salt" class="form-control" value="" disabled>
      <span class="form-helper"
        data-md5crypt="When set must be 8 characters."
        data-sha256crypt="When set must be between 8-16 characters."
        data-sha512crypt="When set must be between 8-16 characters."
      ></span>
    </div>

    <div class="row">
      <label for="rounds" class="form-label">Rounds</label>
      <input 
        type="number" id="rounds" name="rounds" class="form-control"
        step="1" min="0" max="11"
        value="0"
      >
      <span
        class="form-helper form-helper--active"
        data-sha256crypt="When set must be an integer between 1000 and 1000000"
        data-sha512crypt="When set must be an integer between 1000 and 1000000"
        data-scrypt="Must be 0, 6, 7, 8, 9, 10 or 11"
      >Must be 0, 6, 7, 8, 9, 10 or 11</span>
    </div>

    <div class="row">
      <button type="submit" id="mkpasswd_generate" class="button">Generate</button>
    </div>
  </form>

  <div id="mkpasswd_result" class="result"></div>
{% endblock %}

{% block scripts %}
<script>
{% asset 'tools.js' %}
document.addEventListener('DOMContentLoaded', () => { tools.mkpasswd() })
</script>
{% endblock %}
